.projects{
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--second-bg-color);
    grid-auto-rows: 1fr;
    overflow-x: hidden;
}

.projects .item-group {
    padding-bottom: 6rem;
}

.projects .item-group .box {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    height: 100%;
}

.projects .item-group .box .item {
    flex: 1 1 60rem;
}

.projects .item-group .box .item .box .content {
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;

    z-index: 1;
    overflow: hidden;
}

.projects .item-group .box .item .box .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .6s;
}

.projects .item-group .box .item .box .content:hover::before {
    width: 100%;
}

.projects .item-group .box .item .box .content .image {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.projects .item-group .box .item .box .content .image .thumbnail {
    width: 100%;
    z-index: 1;
}

.projects .item-group .box .item .box .content .image .thumbnail.hideable {
    transition: .8s;
}

.projects .item-group .box .item .box .content:hover > .image .thumbnail.hideable {
    opacity: 0;
}

.projects .item-group .box .item .box .content .image .clip {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;
}

.projects .item-group .box .item .box .content .text {
    padding: 1.5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.projects .item-group .box .item .box .content .text .year {
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects .item-group .box .item .box .content .text h3 {
    font-size: 2rem;
}

.projects .item-group .box .item .box .content .text h4 {
    font-weight: 200;
    font-size: 1.6rem;
}

.projects .item-group .box .item .box .content .text p {
    font-size: 1.6rem;
    padding-top: 1.5rem;
}

.projects .item-group .box .item .box .content .text .year i {
    padding-right: .5rem;
}


.projects .item-group .box .item .box .content .link-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 3rem 0;

    font-size: 1.5rem;
    color: var(--text-color);
}

.projects .item-group .box .item .box .content .link-box .link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .6rem 1rem;
    position: relative;
}

.projects .item-group .box .item .box .content .link-box .link::before {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--main-color);
    z-index: -1;
    transition: .4s;
}

.projects .item-group .box .item .box .content .link-box .link:hover::before {
    width: 100%;
}

.projects .item-group .box .item .box .content .link-box .link > * {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--main-color);
    cursor: pointer;
}

.projects .item-group .box .item .box .content .link-box .link:hover > * {
    color: var(--bg-color);
}