section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
  padding-bottom: 6rem;
}

section .heading {
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}

section .heading span {
  color: var(--main-color);
}
